/caddy/data
!./caddy/data/.gitkeep
/caddy/logs
!./caddy/logs/.gitkeep

/gogs/data
!./gogs/data/.gitkeep
/gogs/logs
!./gogs/logs/.gitkeep

/mysql/data
!./mysql/data/.gitkeep
/mysql/logs
!./mysql/logs/.gitkeep


/php/logs
!./php/logs/.gitkeep

.DS_Store
.env
