caddy/data/*
!caddy/data/.gitkeep
caddy/logs/*
!caddy/logs/.gitkeep

gogs/data/git/*
gogs/data/db/*
!gogs/data/git/.gitkeep
!gogs/data/db/.gitkeep
gogs/logs/*
!gogs/logs/.gitkeep

mysql/data/*
!mysql/data/.gitkeep
mysql/logs/*
!mysql/logs/.gitkeep

php/logs/*
!php/logs/.gitkeep

redis/data/*
!redis/data/.gitkeep

#workspace/code-server/expansions/*
#!workspace/code-server/expansions/.gitkeep
workspace/code-server/home/*
!workspace/code-server/home/.gitkeep
!workspace/code-server/home/User
workspace/code-server/home/User/*
!workspace/code-server/home/User/settings.json
!workspace/code-server/home/User/locale.json

.DS_Store
.env
